
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */