
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-record-outline:before { content: '\e804'; } /* '' */
.icon-record:before { content: '\e805'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */